* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merienda", sans-serif;
}
:root {
    --background-opacity: rgba(0, 0, 0, 0.733);
}
body {
    background: no-repeat;
    background-size: cover;
    transition: background 1.5s ease-out;
}
.home-body {
    background-image: url("../assets/images/restaurant2400x1600.jpg");
    
}
.menu-body {
    background-image: url("../assets/images/food2400x1600.jpg");
}
.about-body {
    background-image: url("../assets/images/about2400x1600.jpg");
}
.invisible {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1.5s ease-in, transform 1.5s ease-in;
}
.is-visible {
    opacity: 1;
    transform: translateY(0);
}
/* Header Section */
header {
    background-color: var(--background-opacity);
    height: 110px;
}
header > h1 {
    color: white;
    font-family: "Carattere", sans-serif;
    font-size: 4rem;
    padding-left: 5px;
    padding-top: 5px;;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}
button {
    font-family: "Merienda", sans-serif;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
button:hover {
    cursor: pointer;
}

#content {
    min-height: calc(100vh - 110px);
    background-color: var(--background-opacity);
    width: 80%;
    margin: auto;
}
#content * {
    color: white;
}
/* Main Section */
img {
    width: 100%;
    height: 100%;
}
h2 {
    text-align: center;
    font-size: 3rem;
}
.none {
    display: none;
}
/* Home Section */
.home-section {
    height: 100%;
    width: 100%;
}


.bar {
    margin: 15px 30px;
    min-width: 600px;
    height: auto;
    
}
.home-section p {
    font-size: 1.75rem;

}
.home-sec1 {
    display: flex;
}
.home-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
}

.location-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
.location {
    padding: 25px;
    background-color: rgba(78, 67, 104, 0.904);
    border-radius: 25px 25px 5px 5px;
}
.location p {
    margin-top: 15px;
    font-size: 1.3rem;
}

.location img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}
/* Menu */
.menu-section {
    text-align: center;
}
.menu-section h3 {
    font-size: 2rem;
    margin-top: 20px;
}

.food-section {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.desc {
    font-size: 1.5rem;
}
.item {
    margin: 30px 0;
}
/* About Section */
.about-section p {
    font-size: 2rem;
}
.sec4 {
    display: flex;
}
.sec4 p {
    margin-top: 100px;
    padding-left: 30px;
    
}
.hands {
    min-width: 600px;
    height: auto;
    margin: 15px;
    
}
.hands img {
    border-radius: 5px;
}
.about-section > p {
    padding: 15px 50px;
}